.cardWrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 10px;
  background: #f6f6f6;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.userInfoItem {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.userInfoItemSpan {
  color: grey;
}